title {
}
colors {
	bgColor:  rgb(90,121,239);
	brightBgColor:  rgb(165,190,247);
	brightFontColor: white;
	fontColor: rgb( 66, 85, 148 ); 
	translucentBgColor:  argb(130, 165,190,247);
        focusedBgColor:  rgb(238,241,229);
        focusedFontColor: rgb(238,241,229);
}


backgrounds {
	triangleUp {
		type: triangle;
		orientation: top;
		color: #770;
	}
	
	triangleDown {
		type: triangle;
		orientation: bottom;
		color: #770;
	}
        chartItemBackground {
		type: round-rect-translucent;
		color: #9fff;
	}
	
}


/*************    midlet Profil          ***************************************************************************************************/



.profilBar {
	
	background {
	background-image : url( bar.png ) ;
	anchor: left | top ;
}
}


.profilContainer {
background {
	background-image: url( container.png ) ;

}
	
}

.acceuilBar {
	
	background {
	background-image : url( accueil_bar.png ) ;
	anchor: left | top ;
        color : #DC1F28 ; 
        
}
}

.modifierBar {
	
	background {
	background-image : url( modifierl.png ) ;
	anchor : left | top ;
        padding-bottom: 7% ;
        color : #DC1F28 ; 
}

}


.news {
	
	background {
	background-image : url( news.png ) ;
	anchor : left | top ;
        padding-bottom: 7% ;
        color : #DC1F28 ; 
}

}

.mail {
	
	background {
	background-image : url( mail.png ) ;
	anchor : left | top ;
        padding-bottom: 7% ;
        color : #DC1F28 ; 
}

}


.flux {
        
        padding-bottom: 7% ;
			background-image : url(flux.png);
			background-color : #DC1F28 ; 
			border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		layout: horizontal-center ;
		
  } 
  
.flux:hover {
       
		padding-bottom: 7% ;
		background-image : url(flux_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
	}

.flux:pressed {
       
		padding-bottom: 7% ;
		background-image : url(flux_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		layout: horizontal-center ;
		
  } 

.flux1{
			padding-bottom: 7% ;
			background-image : url( flux1.png );
		layout: horizontal-center   ;
		background-color : #DC1F28 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		opacity:100%;
		
  } 

.flux1:hover {
       
		padding-bottom: 7% ;
		background-image : url(flux1_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
	}

.flux1:pressed {
        
		padding-bottom: 7% ;
		layout: horizontal-center ;
		background-image : url( flux1_p.png );
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		opacity:100%;
  } 

.flux2 {
        padding-bottom: 7% ;
		background-image : url( flux2.png );
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		layout: horizontal-center  ;
		background-color : #DC1F28 ; 
		
  } 
.flux2:hover {
       
		padding-bottom: 7% ;
		background-image : url(flux2_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
	}
        
.flux2:pressed {
        
		padding-bottom: 7% ;
		layout: horizontal-center ;
		background-image : url( flux2_p.png );
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		background-color :#A0A0A0 ; 
		
  } 
 
.flux3{
        padding-bottom: 7% ;
			background-image : url( flux3.png );
			
		layout: horizontal-center   ;
		background-color : #DC1F28 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
  } 

  .flux3:hover {
       
		padding-bottom: 7% ;
		background-image : url(flux3_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
	}
        
.flux3:pressed {
        
	padding-bottom: 7% ;
		layout: horizontal-center ;
		background-image : url( flux3_p.png );
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		
  } 
  
  .flux4{
        padding-bottom: 7% ;
			background-image : url( flux4.png );
			
		layout: horizontal-center   ;
		background-color : #DC1F28 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
  } 

  .flux4:hover {
       
		padding-bottom: 7% ;
		background-image : url(flux4_p.png);
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
	}
        
.flux4:pressed {
        
	padding-bottom: 7% ;
		layout: horizontal-center ;
		background-image : url( flux4_p.png );
		background-color : #A0A0A0 ; 
		border {
		type: round-rect;
		color: black;
		arc: 10;
	}
		
  } 



/************ main screen *************************************************/
.test {
	padding: 5;
	padding-left: 15;
	padding-right: 15;
	layout: horizontal-expand | horizontal-center | top;
	background{
		image: url( tile.png );
		repeat: repeat;
		top: title;
		bottom: menubar;
		overlap: true;
	}
} 



.lineChart {
	background: chartItemBackground;
	padding: 3;
	font-color: gray;
	font-size: small;
}

.verticalBarChart {
	background: chartItemBackground;
	padding: 3;
	view-type: chart-vertical-bars;
	chart-vertical-bars-shadow-color: gray;
}

.pieChart {
	background: chartItemBackground;
	padding: 3;
	view-type: chart-pie;
}

focused {
	padding: 1;
	border {
		type: round-rect;
		arc: 4;
		border-color: fontColor;
		border-width: 2;
	}
	font {
		style: bold;
		color: fontColor;
		size: small;
	}
	layout: expand | left;	
}


.mainScreen {
padding-bottom : 40% ; 
	padding-top : 10% ; 
	padding-left: 10%;
	padding-right: 10%;
	
	
	background-image : url( logo.png );
	
	
	layout: horizontal-center ;

}


.br {
       
       margin : 0.5% ; 	   

 }
.textField {
	
	background-color: silver;
	border-color: gray;
	textfield-direct-input: true;
	focused-style: .focusedInput;
	textfield-caret-color: red;
	layout: horizontal-center | horizontal-expand;
	margin-left: 10%;
	margin-right: 10%;
}

.list {
	
	
	
	background {
	background-image : url( news.png ) ;
	anchor : left | top ;
        padding-bottom: 7% ;
        margin-bottom: 7% ;
        
        color : #DC1F28 ; 
}
	

	layout:  horizontal-center | horizontal-expand;
	
}

.textField:hover {
	background-color: white;
	border-color: black;
}


.loginPng {
padding-top: 10% ;
    padding-bottom: 10% ;
	background-image: url(login.png);
	layout: horizontal-center ;
}

.loginPng:hover {
padding-top: 10% ;
padding-bottom: 10% ;
	background-image: url(login_p.png);
	layout: horizontal-center ;
}

.loginPng:pressed {
padding-top: 10% ;
padding-bottom: 10% ;
	background-image: url(login_p.png);
	layout: horizontal-center ;
}



label {
	font-color: #fff;
	text-effect: shadow;
	text-shadow-color: #333;
}


.dateField {
	margin-top: 4px;
	padding: 2px;
	background-color: silver;
	font-color: #333;
	font-size: large;
	layout: expand;
}

.dateField:hover {
	padding: 1px;
	background-color: white;
	border-color: black;
	font-color: black;
}




/*************    Scrollbar          ***************************************************************************************************/
scrollbar {
	scrollbar-slider-color: #333;
	scrollbar-slider-width: 4;
	scrollbar-fadeout: true;
	opacity: 85%;
}


/*************   Menu Bar     **********************************************************************************/

menubar {
	margin: 0;
	padding-top: 3;
	padding: 2;
	background {
		type: vertical-gradient;
		top-color: #aaa;
		bottom-color: #fff;
		start: 10%;
		end: 100%;
	}
}

/**
 * Commands within the menubar on the left side
 */
leftcommand
{
	margin: 0;
    //#if polish.key.MiddleSoftKey:defined or polish.MenuBar.useMiddleCommand
    	/* the middle command is used, so lower the left and right commands relatively */
		padding-top: 7;
	//#endif
	padding-bottom: 0;
	font-color: white;
	font-style: bold;
	font-size: large;
	text-effect: shadow;
	text-shadow-color: #333;
	font-size: small;
}

/**
 * Commands within the menubar on the right side
 */
rightcommand extends leftcommand
{
	layout: right;
}

middlecommand extends leftcommand {
	padding-top: 1;
	font-color: black;
}




menu {
	margin-left: 2;
	padding: 2;
	background {
		
		
		border-width: 2;
		border-color: black;
	}
	
	font-size: large;
	font-style: bold;
}


menuItem {
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	
	layout: left | horizontal-expand;
}

/**
  * A focused menuItem
  */
menuItem:hover {
	
	layout: left | horizontal-expand;
}


/************ calendar and time entry styles *************************************************/

.calendarForm {
	background {
		type: vertical-gradient;
		top-color: white;
		bottom-color: #aaa;
		start: 70%;
		end: 100%;
	}
	layout: hcenter | top;
	padding-top: 3px;
}

.calendar {
	layout: expand;
	label-style: calendarMonth;
}

.calendar:hover {
}

.calendarMonth {
	font-color: #222;
	font-style: bold;
	font-size: small;
	before: url( arrow-left.png );
	after: url( arrow-right.png );
	layout: expand | center;
}

.calendarWeekday {
	layout: center;
	font-style: italic | bold;
	min-width: 12%;
}

.calendarDay {
	padding: 2px;
	font-style: italic;
	font-color: #222;
	layout: right;
}

.calendarDay:hover {
	background-color: #222;
	font-color: #efefef;
}

.calendarCurrentday extends .calendarDay {
	background-color: #8f8;
}

.calendarCurrentday:hover {
	background-color: #1a1;
	font-color: #fff;
}

.calendarDayInactive extends .calendarDay {
	font-color: #666;
}

.calendarDayInactive:hover {
	background-color: #666;
	font-color: #fff;
}

.time {
	font-color: #666;
	font-size: large;
	time-arrow-up: triangleUp;
	time-arrow-down: triangleDown;
	time-arrow-width: 60px;
	layout: center;
}

.time:hover {
	font-color: #222;
}








